/* 
File name : app.css v1.1
Author : Fatih Erol
Website : https://fatiheroltr.github.io/COMP125-MidTerm
Description : COMP125 - Midterm Project
*/

/* custom syle sheet */

html {
    scroll-behavior: smooth;
}

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}

#contactForm {
    margin-bottom: 4em;
}

/* Carousel max height */

.carousel-item {
    height: 500px;
}

/* Carousel max height remove on mobile */

@media only screen and (max-width: 768px) {
    .carousel-item {
        padding-top: 56px;
        height: 100%;
    }
}